.footer {
    position: relative;
}

@media (min-width: 992px){
.footer {
        z-index: 2;
        /* margin-right: 305px; */
        padding: 0 45px;
        transition: all .3s cubic-bezier(.175,.885,.32,1.275);
}
}

.footer {
    background-color: #fafafb;
}

.footer ._inner {
    padding: 20px 20px 80px;
}

@media (min-width: 992px){
.footer ._inner {
        padding: 20px 0 94px 10px;
}
}

.footer .row1 {
    padding: 0 0 20px;
    border-bottom: 1px solid;
}

@media (min-width: 992px){
.footer .row1 {
        padding: 20px 0;
        text-align: center;
}
}

.footer .row1 {
    border-color: rgba(0,0,0,.1);
}

.footer .row1 strong {
    font-size: 22px;
    font-family: proximanova-bold-webfont,Arial,sans-serif;
    margin-bottom: 18px;
    display: block;
}

@media (min-width: 992px){
.footer .row1 strong {
        font-size: 32px;
        margin-bottom: 25px;
}
}

.footer .row1 p {
    font-size: 12px;
    line-height: 1.3;
}

@media (min-width: 992px){
.footer .row1 p {
        max-width: 580px;
        margin: auto;
}
}

.footer .row1 p {
    color: #8e8e93;
}

.footer .row2 {
    padding: 20px 0;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
}

@media (min-width: 992px){
.footer .row2, .footer .row3 {
        justify-content: center;
}
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: inherit;
    font-family: inherit;
}

.footer .row2 button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .row2 .fc {
    margin-right: 25px;
    background-color: #3b5998;
}

.footer .row2 .tw {
    background-color: #00acee;
}


.row2 .svg_color {
    fill: #fff;
}

.footer .row3 {
    padding: 25px 0 5px;
    border-bottom: 1px solid;
}

@media (min-width: 992px){
.footer .row2, .footer .row3 {
        justify-content: center;
}
}

@media (min-width: 992px){
.footer .row3 {
        padding: 20px 0;
        display: flex;
        align-items: center;
}
}

.footer .row2, .footer .row3 {
    border-color: rgba(0,0,0,.1);
}

.footer .row3 a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 17px;
}

@media (min-width: 992px){
.footer .row3 a {
        font-size: 12px;
        margin-bottom: 0;
        margin-right: 15px;
}
}

.footer .row3 a {
    color: rgba(0,0,0,.9);
}

a>svg {
    display: flex;
}

@media (min-width: 992px){
.footer .row3 svg {
        display: none!important;
}
}

.svg_color {
    fill: rgba(0,0,0,.8);
}

.footer .row4 {
    margin-bottom: 20px;
}

@media (min-width: 992px){
.footer .row4 {
        position: relative;
        padding-top: 60px;
        display: flex;
        flex-wrap: wrap;
}
}

.footer .row4>strong {
    display: block;
    font-size: 18px;
    font-family: proximanova-semibold-webfont,Arial,sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}

@media (min-width: 992px){
.footer .row4>strong {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
}
}

.footer .row4 .links {
    line-height: 1;
    border-bottom: 1px solid;
}

.footer .links {
    border-color: rgba(0,0,0,.1);
}

@media (min-width: 992px){
.footer .row4 .links {
        flex-shrink: 0;
        width: 25%;
        padding: 0 5px;
        margin-bottom: 32px;
        border-bottom: none;
}
}

.footer .row4 .links ._a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 12px 0;
    text-transform: capitalize;
}

.footer .links ._a {
    color: rgba(0,0,0,.9);
}

@media (min-width: 992px){
.footer .row4 .links ._a {
        padding: 0 0 11px;
}
}


.footer .row4 .links ._a .min, .footer .row4 .links ._b {
    display: none;
}

.footer .links ._b {
    color: rgba(0,0,0,.54);
}

@media (min-width: 992px){
.footer .row4 .links ._b {
        display: block;
}
}

@media (min-width: 992px){
.lg-hide {
        display: none!important;
}
}

@media (min-width: 992px){
.footer .row4 .links ._a small {
        display: none;
}
}


.footer .row4 .links ._b a {
    font-size: 12px;
    display: block;
    padding: 5px 0;
}

.footer .row4 .links ._b .v_all {
    font-family: proximanova-semibold-webfont,Arial,sans-serif;
}

.footer .links ._b .v_all {
    color: #e72c30;
}

.footer .copyr {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
}

@media (min-width: 992px){
.footer .copyr {
        border-top: 1px solid;
}
}

.footer .copyr {
    border-color: rgba(0,0,0,.1);
    color: rgba(0,0,0,.54);
}